<html>
   <head>
      {% load static %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   </head>
   <body>
      <div class="row">
         <div class="col-4 border-right min-vh-100">
            <h4 class="p-4 mx-auto">Upload file</h4>
            <form name = "form" enctype = "multipart/form-data" action = "/" method = "POST" class="h-100">{% csrf_token %}
               <div class="mx-4 d-flex flex-column h-100">
                  <input class="mx-auto mb-5" type = "file" placeholder = "CSV file" name = "csv" />
                     <button class="btn btn-primary mx-auto w-100" type = "submit" value = "Login" >
                        Upload file
                     </button>
               </div>
            </form>
         </div>
         <div class="col min-vh-100">
            {% if show%}
            <table class="table">
               <thead>
                 <tr>
                   <th scope="col">Actual data</th>
                   <th scope="col">Predicted data</th>
                 </tr>
               </thead>
               <tbody>
                  {%for actual,pred in data_show %}
                 <tr>
                   <td>{{actual}}</td>
                   <td>{{pred.0}}</td>
                 </tr>
                 {% endfor %}
               </tbody>
             </table>
             {% endif %}
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   </body>
</html>